@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: var(--font-poppins);
  box-sizing: border-box;
}
/* Force the spinner arrows to display in all browsers */
.custom-number-input {
  appearance: auto; /* Reset any appearance overrides */
  -moz-appearance: auto; /* Firefox-specific */
  -webkit-appearance: auto; /* Chrome, Safari-specific */
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  display: block; /* Ensure the spinner buttons are visible */
}

